body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    margin-top: 20px;
}

.earth-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
}

.earth-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
    z-index: 1;
    animation: rotateEarth 20s linear infinite;
}

@keyframes rotateEarth {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.orbit {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateOrbit 60s linear infinite;
}

@keyframes rotateOrbit {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.satellite {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.satellite-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.satellite:hover {
    transform: scale(1.3);
}

/* Colocación circular de los satélites */
#satellite1 { transform: rotate(60deg) translate(300px) rotate(-60deg); }
#satellite2 { transform: rotate(120deg) translate(300px) rotate(-120deg); }
#satellite3 { transform: rotate(180deg) translate(300px) rotate(-180deg); }
#satellite4 { transform: rotate(240deg) translate(300px) rotate(-240deg); }
#satellite5 { transform: rotate(300deg) translate(300px) rotate(-300deg); }
#satellite6 { transform: rotate(360deg) translate(300px) rotate(-360deg); }

/* Panel de información */
.info-panel {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-top: 5px solid #0074D9; /* Cambiado a azul */
    font-size: 16px;
    z-index: 2;
}

#close-info {
    background-color: #0074D9; /* Cambiado a azul */
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    float: right;
}

#close-info:hover {
    background-color: #1E90FF; /* Azul más claro */
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #0056b3;
    color: #ffffff;
}
