body {
    background-color: #000; /* Fondo negro */
    color: #00ffff; /* Texto en cian */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #111; /* Fondo ligeramente más claro para contraste */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00ffff;
    width: 100%;
    max-width: 400px;
}
h1, h3 {
    text-align: center;
}
.form-control {
    background-color: #222;
    color: #00ffff;
    border: none;
    border-radius: 5px;
}
.form-control:focus {
    box-shadow: 0 0 10px #00ffff;
}
.button {
    display: block;
    text-align: center;
    background-color: #00ffff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #007f7f;
}